<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IHHKTP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="localhost_IHHKTP_Connection" connectionString="XpoProvider=MSSqlServer;data source=(localdb)\IHH;integrated security=SSPI;initial catalog=IHHKTP" />
        <add name="taayuu\localdb#32d04bdc.IHHKTP.dbo" connectionString="XpoProvider=MSSqlServer;data source=(localdb)\IHH;integrated security=SSPI;initial catalog=IHHKTP" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <IHHKTP.Properties.Settings>
            <setting name="kurulum" serializeAs="String">
                <value>pasif</value>
            </setting>
            <setting name="local" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sifre" serializeAs="String">
                <value>ihh1453</value>
            </setting>
        </IHHKTP.Properties.Settings>
    </userSettings>
</configuration>